@import "./numpad.global.css";

/* Map module class names to shared global styles to avoid duplication */
.container {
  composes: nf-container from "./numpad.global.css";
}

.display {
  composes: nf-display from "./numpad.global.css";
}

.keypad {
  composes: nf-keypad from "./numpad.global.css";
}

.button {
  composes: nf-button from "./numpad.global.css";
}

.buttonAccent {
  composes: nf-button-accent from "./numpad.global.css";
}

.buttonGhost {
  composes: nf-button-ghost from "./numpad.global.css";
}

.announcer {
  composes: nf-announcer from "./numpad.global.css";
}
